<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhereIAm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>065F32271BF8DE720029B2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>065F323B1BF8DE720029B2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>065F32461BF8DE720029B2AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
